* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* Header */
.cabecario {
    width: 100vw;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 0px hsl(0, 0%, 0%,.2);
    background-color: rgb(56, 56, 56);
}
/* Main */
/* Footer */
footer {
    display: flex;
    justify-content: space-between;
}
footer * {
    margin: 0px 10px;
}